### Importing library

In [1]:
import pandas as pd

### Importing data

In [23]:
df = pd.read_csv(r'C:\Users\Hansel\Jupyter Notebook\adult_data.csv')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

### Dropping column 'fnlwqt' as it doesn't make sense

In [29]:
df.drop(columns = 'fnlwgt', axis = 1, inplace = True)

##### How many of each race are represented in this dataset?

In [31]:
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

##### What is the average age of men?

In [5]:
average_age_men = df[df['sex'] == 'Male']['age'].mean()
average_age_men

39.43354749885268

##### What is the percentage of people who have a Bachelor's degree?

In [6]:
percentage_bachelors = df[df['education'] == 'Bachelors'].count().max()*100/len(df)
percentage_bachelors

16.446055096587944

##### What percentage of people have advanced education ('Bachelors', 'Masters', 'Doctorate')?

In [7]:
higher_education_df = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education = higher_education_df.count().max()*100/len(df)
higher_education

23.006050182733947

##### What percentage of people don't have advanced education ('Bachelors', 'Masters', 'Doctorate')?

In [32]:
lower_education_df = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = lower_education_df.count().max()*100/len(df)
lower_education

76.99394981726606

##### What percentage of people having advanced education ('Bachelors', 'Masters', 'Doctorate') make more than 50K?

In [33]:
# percentage with salary >50K
higher_education_rich_df = df[df['salary'] == '<=50K']
higher_education_rich = higher_education_rich_df.count().max()*100/len(df)
higher_education_rich

75.91904425539757

##### What percentage of people not having advanced education ('Bachelors', 'Masters', 'Doctorate') make more than 50K?

In [34]:
lower_education_rich_df = df[df['salary'] == '<=50K']
lower_education_rich = lower_education_rich_df.count().max()*100/len(df)
lower_education_rich

75.91904425539757

##### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [35]:
min_work_hours = df['hours-per-week'].min()

##### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [36]:
num_min_workers_df = df[df['hours-per-week'] == min_work_hours]

In [37]:
num_min_workers_df['salary'].value_counts()

salary
<=50K    18
>50K      2
Name: count, dtype: int64

In [14]:
num_min_workers = num_min_workers_df[num_min_workers_df['salary'] == '>50K']

In [15]:
rich_percentage = num_min_workers.count().max() * 100 / len(num_min_workers_df)
rich_percentage

10.0

##### What country has the highest percentage of people that earn >50K?

In [38]:
highest_earning_country = df[df['salary'] == '>50K']['native-country'].value_counts().index[0]
highest_earning_country_percentage = df[df['salary'] == '>50K']['native-country'].value_counts().max()*100/df[df['salary'] == '>50K']['native-country'].value_counts().sum()

In [17]:
highest_earning_country

'United-States'

In [18]:
highest_earning_country_percentage

91.45517153424308

##### Identify the most popular occupation for those who earn >50K in India.

In [39]:
top_IN_occupation_df = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]
top_IN_occupation = top_IN_occupation_df['occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'

In [40]:
print("Number of each race:\n", race_count)
print('\n')
print("Average age of men:", average_age_men)
print('\n')
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print('\n')
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print('\n')
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print('\n')
print(f"Min work time: {min_work_hours} hours/week")
print('\n')
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
print('\n')
print("Country with highest percentage of rich:", highest_earning_country)
print('\n')
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print('\n')
print("Top occupations in India:", top_IN_occupation)

Number of each race:
 race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64


Average age of men: 39.43354749885268


Percentage with Bachelors degrees: 16.446055096587944%


Percentage with higher education that earn >50K: 75.91904425539757%


Percentage without higher education that earn >50K: 75.91904425539757%


Min work time: 1 hours/week


Percentage of rich among those who work fewest hours: 10.0%


Country with highest percentage of rich: United-States


Highest percentage of rich people in country: 91.45517153424308%


Top occupations in India: Prof-specialty